{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "ConnectionStrings__DefaultConnection": "Server=localhost\\SQLEXPRESS;Database=TaskFlowDB;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True;Encrypt=False",
    "Email__UseSmtp": "false",
    "Email__AllowSmtpInDevelopment": "false",
    "Smtp__Host": "smtp.gmail.com",
    "Smtp__Port": "587",
    "Smtp__User": "your-email@gmail.com",
    "Smtp__Pass": "your-app-password",
    "Smtp__From": "your-email@gmail.com"
  }
}
